.white {
  background-color: white;
}
.light-blue {
  background-color: rgb(0, 188, 212)
}
.blue {
  background-color: rgb(3, 169, 244)
}
.dark-blue {
  background-color: rgb(33, 150, 243)
}

.pixel {
  width: 30px;
  height: 30px;
  border: 1px solid lightgray;
  box-sizing: border-box;
}

